<!--The content below is only a placeholder and can be replaced.-->
<div class="sidebar">
    <ul>
        <li><a href=""><img src="https://img.icons8.com/android/24/000000/home.png" /></a></li>
        <li><a href=""><img src="https://img.icons8.com/ios-glyphs/30/000000/speed.png" /></a></li>
        <li><a href=""><img src="https://img.icons8.com/fluent-systems-filled/24/000000/building.png" /></a></li>
        <li><a href=""><img src="https://img.icons8.com/android/24/000000/calendar.png" /></a></li>
        <li><a href=""><img src="https://img.icons8.com/ios-filled/24/000000/add-file.png" /></a></li>
        <li><a href=""><img src="https://img.icons8.com/ios-glyphs/30/000000/bug--v1.png" /></a></li>
        <li><a href=""><img src="https://img.icons8.com/ios-glyphs/30/000000/wrench.png" /></a></li>
        <li><a href="">
                <p>P</p>
            </a></li>
    </ul>
</div>

<router-outlet></router-outlet>
